<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.duoyi.provider.qrscan">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="20" />

    <!--  android:icon="@mipmap/ic_launcher"
        android:label="@string/qrscan_app_name"
        android:theme="@android:style/Theme.NoTitleBar"
          xmlns:tools="http://schemas.android.com/tools"
        tools:replace="android:label" -->

    <application
        android:allowBackup="true"

        >

        <activity
            android:name="com.duoyi.provider.qrscan.activity.MipcaActivityCapture"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <!--action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" /-->


                <category android:name="android.intent.category.DEFAULT" /><!--必须加上这个，否则下面无法直接使用自定的action-->
                <action android:name="bluedrum.scan.qrcode"/>
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

</manifest>